@page "/Users"
@attribute [Authorize]
@inject IUsersApiProvider UsersApiProvider
@inject NavigationManager NavigationManager

<div>
    <MudTable ServerData="@(new Func<TableState, Task<TableData<AppUserDto>>>(ServerReload))"
              OnRowClick="RowClickEvent"
              T="AppUserDto"
              CurrentPage="Page"
              Dense="true" Hover="true" @ref="_table" CustomHeader="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Users</MudText>
            <MudSpacer/>
            <MudTextField T="string"
                          @bind-Value="Search"
                          OnBlur="@(_ => OnSearch("Search", Search))"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium">
            </MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTHeadRow>
                <MudTh>Avatar</MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="username" T="AppUserDto">User Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="firstname" T="AppUserDto">First Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="lastname" T="AppUserDto">Last Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="email" T="AppUserDto">Email</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="phone" T="AppUserDto">Phone Number</MudTableSortLabel>
                </MudTh>
            </MudTHeadRow>
            <MudTHeadRow>
                <MudTh></MudTh>
                <MudTh>
                    <MudTextField T="string"
                                  @bind-Value="Username"
                                  OnBlur="@(_ => OnSearch("Username", Username))"
                                  Placeholder="Username"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.FilterAlt" IconSize="Size.Medium" Class="mt-0">
                    </MudTextField>
                </MudTh>
                <MudTh>
                    <MudTextField T="string"
                                  @bind-Value="FirstName"
                                  OnBlur="@(_ => OnSearch("FirstName", FirstName))"
                                  Placeholder="First Name"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.FilterAlt"
                                  IconSize="Size.Medium">
                    </MudTextField>
                </MudTh>
                <MudTh>
                    <MudTextField T="string"
                                  @bind-Value="LastName"
                                  OnBlur="@(_ => OnSearch("LastName", LastName))"
                                  Placeholder="Last Name"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.FilterAlt"
                                  IconSize="Size.Medium">
                    </MudTextField>
                </MudTh>
                <MudTh>
                    <MudTextField T="string"
                                  @bind-Value="Email"
                                  OnBlur="@(_ => OnSearch("Email", Email))"
                                  Placeholder="Email"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.FilterAlt"
                                  IconSize="Size.Medium">
                    </MudTextField>
                </MudTh>
                <MudTh>
                    <MudTextField T="string"
                                  @bind-Value="Phone"
                                  OnBlur="@(_ => OnSearch("Phone", Phone))"
                                  Placeholder="Phone"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.FilterAlt"
                                  IconSize="Size.Medium">
                    </MudTextField>
                </MudTh>
            </MudTHeadRow>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Avatar">
                @if (@context.Avatars.Count > 0)
                {
                    <MudAvatar Color="Color.Secondary">
                        <MudImage Src="@context.Avatars[0].ImagePayload"></MudImage>
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar Color="Color.Secondary">@context.UserName.Substring(0, 2).ToUpper()</MudAvatar>
                }
            </MudTd>
            <MudTd DataLabel="Username">
                <MudHighlighter
                    Text="@context.UserName"
                    HighlightedTexts="new[] {Search, Username}"/>
            </MudTd>
            <MudTd DataLabel="Name">
                
                <MudHighlighter
                    Text="@context.FirstName"
                    HighlightedTexts="new[] {Search, FirstName}"/>
            </MudTd>
            <MudTd DataLabel="Name">
                
                <MudHighlighter
                    Text="@context.LastName"
                    HighlightedTexts="new[] {Search, LastName}"/>
            </MudTd>
            <MudTd DataLabel="Position">
                
                <MudHighlighter
                    Text="@context.Email"
                    HighlightedTexts="new[] {Search, Email}"/>
            </MudTd>
            <MudTd DataLabel="Molar mass">
                
                <MudHighlighter
                    Text="@context.PhoneNumber"
                    HighlightedTexts="new[] {Search, Phone}"/>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No matching records found</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</div>

<MudText>@Search</MudText>

@code {
    private MudTable<AppUserDto>? _table;
    private PagedResponseDto<AppUserDto>? _data = new();
    private readonly Dictionary<string, string> _queryParams = new();

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Search { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Username { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? FirstName { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? LastName { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Email { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Phone { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int Page { get; set; }

    protected override void OnInitialized()
    {
        InitQueryString();
    }

    private async Task<TableData<AppUserDto>> ServerReload(TableState state)
    {
        UpdateSortParams(state);
        UpdatePagingParams(state);


        var response = await UsersApiProvider.LoadUsersAsync(_queryParams);

        if (response.IsSuccessStatusCode)
        {
            _data = await response.Content.ReadFromJsonAsync<PagedResponseDto<AppUserDto>>();
        }

        var url = QueryHelpers.AddQueryString("users/", _queryParams);
        NavigationManager.NavigateTo(url);

        return new TableData<AppUserDto> {TotalItems = _data.TotalCount, Items = _data.Items};
    }

    private void RowClickEvent(TableRowClickEventArgs<AppUserDto> tableRowClickEventArgs)
    {
        NavigationManager.NavigateTo($"users/{tableRowClickEventArgs.Item.UserName}");
    }

    private void OnSearch(string field, string value)
    {
        _table.CurrentPage = 0;

        _queryParams[field] = value;
        if (string.IsNullOrWhiteSpace(value))
        {
            _queryParams.Remove(field);
        }

        _table.ReloadServerData();
    }

    private void UpdateSortParams(TableState state)
    {
        _queryParams["SortField"] = state.SortLabel;
        _queryParams["OrderBy"] =
            state.SortDirection == SortDirection.Ascending
                ? "asc"
                : "desc";

        if (state.SortDirection == SortDirection.None)
        {
            _queryParams.Remove("SortField");
            _queryParams.Remove("OrderBy");
        }
    }

    private void UpdatePagingParams(TableState state)
    {
        Page = state.Page;

        _queryParams["PageSize"] = state.PageSize.ToString();
        _queryParams["Page"] = Page.ToString();

        if (_queryParams["PageSize"] == "10")
        {
            _queryParams.Remove("PageSize");
        }
        if (_queryParams["Page"] == "0")
        {
            _queryParams.Remove("Page");
        }
    }

    private void InitQueryString()
    {
        _queryParams["Username"] = Username;
        _queryParams["FirstName"] = FirstName;
        _queryParams["LastName"] = LastName;
        _queryParams["Email"] = Email;
        _queryParams["Phone"] = Phone;
        _queryParams["Search"] = Search;
        _queryParams["Page"] = Page.ToString();
    }

}