@page "/users/{username}"
@using ChatApp.BlazorServer.Components
@using Microsoft.AspNetCore.SignalR.Client
@attribute [Authorize] 
@inject IUsersApiProvider UsersApiProvider
@inject IDialogService DialogService
@inject CallStateContainer CallStateContainer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@implements IDisposable

@if (_appUserDto != null)
{
    <MudGrid Class="mt-5">
        <MudItem lg="4">
            <MudButton OnClick="@(AvatarDetails)">
                <MudAvatar
                    style="height: 300px; width: 300px" Color="Color.Secondary">
                    @if (_appUserDto.Avatars.Count > 0)
                    {
                        <MudImage Src="@_appUserDto.Avatars[0].ImagePayload"></MudImage>
                    }
                    else
                    {
                        @_appUserDto.UserName.ToUpper()
                    }
                </MudAvatar>
            </MudButton>
        </MudItem>
        <MudItem lg="8" class="mt-5">
            <MudGrid>
                @if (_isCurrentUserPage)
                {
                    <MudItem lg="12">
                        <MudButton OnClick="@((e) => ChangeUsername())" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit">
                            Change username
                        </MudButton>
                    </MudItem>
                }
                <MudItem lg="12">
                    <h1>Username: @_appUserDto.UserName</h1>
                </MudItem>
                @if (_isCurrentUserPage)
                {
                    <MudItem lg="12">
                        <MudButton OnClick="@((e) => EditUser())" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit">
                            Edit User Information
                        </MudButton>
                    </MudItem>
                }
                <MudItem lg="12">
                    <MudList>
                        @if (!_isCurrentUserPage)
                        {
                            <MudButton
                                Disabled="@(!_appUserDto.isOnline || _appUserDto.InCall)"
                                OnClick="CallUser"
                                StartIcon="@Icons.Material.Filled.Call"
                                Variant="Variant.Filled" Color="Color.Success">
                                Call user
                            </MudButton>
                            <MudListItem Avatar="@Icons.Material.Filled.PermIdentity">
                                Is online: @_appUserDto.isOnline.ToString()
                            </MudListItem>
                            <MudListItem Avatar="@Icons.Material.Filled.PermIdentity">
                                In Call: @_appUserDto.InCall.ToString()
                            </MudListItem>
                        }
                        @if (_appUserDto.FirstName != null)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.PermIdentity">
                                First Name: @_appUserDto.FirstName
                            </MudListItem>
                        }
                        @if (_appUserDto.LastName != null)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.PermIdentity">
                                Last Name: @_appUserDto.LastName
                            </MudListItem>
                        }
                        @if (_appUserDto.Age != null)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.Phone">
                                Age: @_appUserDto.Age
                            </MudListItem>
                        }
                        <MudListItem Avatar="@Icons.Material.Filled.AlternateEmail">
                            Email: @_appUserDto.Email
                        </MudListItem>
                        @if (_appUserDto.PhoneNumber != null)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.Phone">
                                Phone Number: @_appUserDto.PhoneNumber
                            </MudListItem>
                        }
                    </MudList>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
}


@code {

    [Parameter]
    public string? Username { get; set; }
    
    [CascadingParameter(Name = "UsersHubConnection")]
    public HubConnection UsersHubConnection { get; set; }
    [CascadingParameter(Name = "CallsHubConnection")]
    public HubConnection CallsHubConnection { get; set; }
    
    private List<IDisposable> _hubSubscriptions = new();

    private AppUserDto? _appUserDto;
    private ApiError? _apiError;
    private bool _isCurrentUserPage;

    protected override async Task OnInitializedAsync()
    {
        await LoadUser(Username);
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _isCurrentUserPage = _appUserDto?.UserName == authState.User.Identity?.Name;

        if (UsersHubConnection.State == HubConnectionState.Disconnected)
        {
            await UsersHubConnection.StartAsync();
        }
        
        _hubSubscriptions.Add
            (
                UsersHubConnection.On($"{Username.ToLower()}/UserInfoChanged", async () =>
                {
                    await LoadUser(Username);
                })
            );
        if (!_isCurrentUserPage)
        {
            _hubSubscriptions.Add
                (
                    UsersHubConnection.On($"{Username.ToLower()}/UsernameChanged", async (string newUsername) =>
                    {
                        NavigationManager.NavigateTo($"/users/{newUsername}", true);
                        await LoadUser(newUsername);
                    })
                );   
        }
    }

    private async Task EditUser()
    {
        var parameters = new DialogParameters {["AppUserDto"] = _appUserDto};
        var options = new DialogOptions {DisableBackdropClick = true};
        await DialogService.ShowAsync<EditUserDialog>("", parameters, options);
    }

    private async Task ChangeUsername()
    {
        var parameters = new DialogParameters {["AppUserDto"] = _appUserDto};
        var options = new DialogOptions {DisableBackdropClick = true};
        var dialog = await DialogService.ShowAsync<ChangeUsernameDialog>("", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            Console.WriteLine("test");
            var newUsername = result.Data.ToString();
            NavigationManager.NavigateTo($"/users/{newUsername}");
            await LoadUser(newUsername);
        }
    }

    private async Task AvatarDetails()
    {
        var parameters = new DialogParameters
        {
            ["AppUserDto"] = _appUserDto,
            ["CanEdit"] = _isCurrentUserPage,
        };
        var options = new DialogOptions {DisableBackdropClick = true};
        await DialogService.ShowAsync<AvatarDetailsDialog>("", parameters, options);
    }

    private async Task LoadUser(string username)
    {
        var response = await UsersApiProvider.LoadSingleUserAsync(username);

        if (response.IsSuccessStatusCode)
        {
            _appUserDto = await response.Content.ReadFromJsonAsync<AppUserDto>();
        }
        if (!response.IsSuccessStatusCode)
        {
            _apiError = await response.Content.ReadFromJsonAsync<ApiError>();
        }
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _hubSubscriptions.ForEach(x => x.Dispose());
    }

    private async Task CallUser()
    {
        if (_isCurrentUserPage) return;
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var _currentUser =  authState.User.Identity?.Name;
        var callUsernamesDto = new CallUsernamesDto
        {
            callInitiatorUsername = _currentUser,
            callReceiverUsername = _appUserDto.UserName,
        };
        
        var result = await UsersApiProvider.StartCall(callUsernamesDto);
        if (result.IsSuccessStatusCode)
        {
            var AcceptedCall = new CallState
            {
                CallUsernames = callUsernamesDto,
                IsReceiver = false,
            };
            CallStateContainer.CurrentCall = AcceptedCall;
            NavigationManager.NavigateTo("/call");
        }
        else
        {
            var callError = await result.Content.ReadFromJsonAsync<ApiError>();
            Snackbar.Add(string.Join(';', callError?.Errors.Select(x => x.Value) ?? Array.Empty<string>()));
        }
    }

}