@page "/Change-Password"
@using ChatApp.API.Controllers
@using ChatApp.API.DTOs
@using ChatApp.BlazorServer.ApiProviders
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthenticationApiProvider AuthenticationApiProvider
@inject ILocalStorageService LocalStorage

<h3>Change Password</h3>
@if (_isSuccess)
{
    <h3 class="text-success">
        Password changed successfully. 
    </h3>   
}

<EditForm
    Model="@_changePasswordDto"
    OnValidSubmit="@OnChangePassword">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group mt-3">
        <label for="old-password">Old password:</label>
        <InputText type="password" class="form-control" id="old-password" @bind-Value="@_changePasswordDto.OldPassword"/>
    </div>


    <div class="form-group mt-3">
        <label for="new-password">New password:</label>
        <InputText type="password" class="form-control" id="new-password" @bind-Value="@_changePasswordDto.NewPassword"/>
    </div>
    
        @if (_identityErrors != null)
        {
            <ul class="text-danger mt-5">
                @foreach (var error in _identityErrors)
                {
                    <li>
                        @error.Description
                    </li>
                }
            </ul>
        }

    <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    
</EditForm>


@code {
    private ChangePasswordDto _changePasswordDto = new();
    private UserDto? _userDto;
    private List<IdentityError>? _identityErrors;
    private bool _isSuccess = false;

    private async Task OnChangePassword()
    {
        var response = await AuthenticationApiProvider.ChangePassword(_changePasswordDto);
        if (response.IsSuccessStatusCode)
        {
            _userDto = await response.Content.ReadFromJsonAsync<UserDto>();
            await LocalStorage.SetItemAsync("token", _userDto.Token);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            _isSuccess = true;
        }
        if (response.StatusCode == HttpStatusCode.BadRequest)
        {
            _identityErrors = await response.Content.ReadFromJsonAsync<List<IdentityError>>();
        }
    }

}