@page "/Register"
@using ChatApp.DTO
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationApiProvider AuthenticationApiProvider
@inject IJwtProvider JwtProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Register</h3>


<EditForm Model="@_registerAppUserModel" OnValidSubmit="OnRegister" Style="width: 100%">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Username"
                          @bind-Value="_registerAppUserModel.UserName" For="@(() => _registerAppUserModel.UserName)"/>
            <MudTextField Label="Email" Class="mt-3"
                          @bind-Value="_registerAppUserModel.Email" For="@(() => _registerAppUserModel.Email)"/>
            <MudTextField Label="First name" Class="mt-3"
                          @bind-Value="_registerAppUserModel.FirstName" For="@(() => _registerAppUserModel.FirstName)"/>
            <MudTextField Label="Last name" Class="mt-3"
                          @bind-Value="_registerAppUserModel.LastName" For="@(() => _registerAppUserModel.LastName)"/>
            <MudTextField Label="Phone Number" Class="mt-3"
                          @bind-Value="_registerAppUserModel.PhoneNumber" For="@(() => _registerAppUserModel.PhoneNumber)"/>
            <MudTextField Label="Password" Class="mt-3"
                          @bind-Value="_registerAppUserModel.Password" For="@(() => _registerAppUserModel.Password)" InputType="InputType.Password"/>
            <MudTextField Label="Confirm Password" Class="mt-3"
                                      @bind-Value="_registerAppUserModel.ConfirmPassword" For="@(() => _registerAppUserModel.ConfirmPassword)" InputType="InputType.Password"/>
            @if (_apiError != null)
            {
                @foreach (var errorMessage in _apiError.Errors)
                {
                    <MudText Color="Color.Error" Class="mt-5">@errorMessage.Value</MudText>
                }
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton
                ButtonType="ButtonType.Submit"
                Variant="Variant.Filled"
                Color="Color.Primary"
                Class="ml-auto">
                Register
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>


@code {
    private RegisterAppUserModel _registerAppUserModel = new();
    private ApiError? _apiError;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task OnRegister()
    {
        var response = await AuthenticationApiProvider.Register(_registerAppUserModel);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();
            await JwtProvider.SetTokenAsync(token);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/");
        }
        if (!response.IsSuccessStatusCode)
        {
            _apiError = await response.Content.ReadFromJsonAsync<ApiError>();
        }
    }

    
    private class RegisterAppUserModel : RegisterAppUserDto
    {
        [Compare("Password")]
        [Required(ErrorMessage = "Password is required")]
        public string ConfirmPassword { get; set; }
    }
}