@page "/Chats/{ChatLink}"
@inject IChatsApiProvider ChatsApiProvider

<h3>ChatsPage @ChatLink</h3>

@if (_conversationParticipationDto != null && _conversationParticipationDto.ChatInfo != null)
{
    <MudText>@_conversationParticipationDto.Id.ToString()</MudText>
    <MudText>@_conversationParticipationDto.ChatInfo.Title</MudText>
    @if (_conversationParticipationDto.Participation != null)
    {
        <MudText>Participation Id: @_conversationParticipationDto.Participation.Id.ToString()</MudText>
        <MudText>CanWriteMessages: @_conversationParticipationDto.Participation.CanWriteMessages.ToString()</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="OnLeaveChat">Leave Chat</MudButton>
    }
    @if (_conversationParticipationDto.Participation == null)
    {
        <MudText>User is not a participant of this chat.</MudText>
        @if (_conversationParticipationDto.ChatInfo.IsPrivate)
        {
            <MudText>This is a private chat</MudText>
        }
        @if (!_conversationParticipationDto.ChatInfo.IsPrivate)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnJoinChat">Join Chat</MudButton>
        }
    }
    
     
}

@code {
    [Parameter]
    public string? ChatLink { get; set; }

    private ConversationParticipationDto? _conversationParticipationDto;


    protected override async Task OnInitializedAsync()
    {
        await UpdateChatParticipation();
    }

    private async Task OnJoinChat()
    {
        var response = await ChatsApiProvider.JoinChat(ChatLink);

        await UpdateChatParticipation();
    }
    
    private async Task OnLeaveChat()
    {
        var response = await ChatsApiProvider.LeaveChat(ChatLink);

        await UpdateChatParticipation();
    }

    private async Task UpdateChatParticipation()
    {
        var response = await ChatsApiProvider.GetChatParticipation(ChatLink);
        if (response.IsSuccessStatusCode)
        {
            _conversationParticipationDto = await response.Content.ReadFromJsonAsync<ConversationParticipationDto>();
        }
    }

}